.avatarBackground {
  /* margin-left: 200px; */
  height: 220px;
  width: 100vw;
  border-radius: 12px;
  background-color: var(--warm-500-25);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0;
}

.avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
  width: 90px;
  height: 90px;
}

.SvgCircle {
  /* position: absolute; */
  z-index: 1;
  height: 400px;
  /* width: 400px; */
}

.circleExtended {
  fill: var(--warm-500-25);
}

.circleSmall {
  fill: var(--warm-100);
}

.circleMedium {
  fill: var(--warm-500);
}

.circleBig {
  fill: var(--warm-900);
}

.initials {
  display: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 35px;
}

.avatar__circle {
  transform: scale(0.2);
  align-items: center;
  justify-content: center;
  position: absolute;
}
