.login {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.input-field {
  display: flex;
  border-radius: 4px;
  background-color: --dark-300-50;
  margin: 12px 0;
}

.links-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 12px 0;
}
